body {
  margin: 0;
  padding: 0;
}
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 270px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image2 {
  border-radius: 10px;
  height: 310px;

  width: 220px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.image3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 60px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 60px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.footer {
  height: 100%;
}

ul#menu li {
  display: inline;
  color: black;
}

@media only screen and (max-width: 1149px) {
  #blackDiv {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    width: 100%;
    height: 230px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 2rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}

@media only screen and (max-width: 1149px) {
  .image2 {
    border-radius: 10px;
    height: 270px;
    width: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media only screen and (max-width: 800px) {
  .image2 {
    border-radius: 10px;
    height: 210px;

    width: 155px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .image3 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
}
